<!DOCTYPE html>
<html lang="en">
    <style>
        h1 {
          text-align: center;
        }
        
        </style>
    <body>
        <h1 style="font-size:30px;">Reporte de Prediccion</h1>
        <h2>Fecha: {{stdate}}</h2>
        <img src="data:image/png;base64,{{img_data}}" />
        <h2>Tabla de predicciones y prevision meteorologica</h2>
        <table>
            {% for row in table_data %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

    
    </body>


</html>
    